@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border-top-color: #bc4d30;
    animation: spinner 0.6s linear infinite;
  }
  
  @keyframes spinner {
    to { transform: rotate(360deg); }
  }
  